<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人博客</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/mystyle.css">
    <link rel="stylesheet" href="/static/theme/{{ blog.theme }}">
    <script src="/static/jquery-3.3.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>

<div class="header">
    {% if blog.title %}
        <p class="col-md-offset-1">{{ blog.title }}</p>
        {% else %}
        <p class="col-md-offset-1">Blog</p>
    {% endif %}
    <a class="col-md-offset-9 btn btn-primary" href="/blog/backend/add_article/">添加博客</a>
</div>
<div class="container">
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">文章分类</div>
            <div class="panel-body">
                {% for category in category_list %}
                    <a href="/blog/itemize/?user={{ user }}&message={{ category.title }}">
                        <p>{{ category.title }}({{ category.c}})</p>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">文章标签</div>
            <div class="panel-body">
                {% for tag in tag_list %}
                    <a>
                        <p>{{ tag.title }}({{ tag.c }})</p>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">日期归档</div>
            <div class="panel-body">
                {% for archive in archive_list %}
                    <a href="/blog/itemize/?user={{ user }}&time={{ archive.create_time|date:"Y-m-d" }}">
                        <p>{{ archive.create_time|date }}({{ archive.c }})</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-8">
    {% block page-main %}


<!--要写的内容-->


    {% endblock %}
        <!--个人博客列表开始-->

    <!-----结束----->
    </div>

</div>


</body>
</html>